*
{
	margin: 0 !important;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.sidebar-nav{
	width: 270px;
}
@media (min-width : 992px) {
	body{
		overflow: auto !important;
	}
  .sidebar-nav {
    visibility: visible !important;
    color: black;
    transform: none;
    top: 56px;
    height: calc(100% - 56px);
  }
}
@media (max-width : 992px) {
  .offcanvas {
    width :  		250px !important;
  }
}